node_modules
npm-debug.log
yarn-error.log
.DS_Store
/.eslintcache/
*.iml
/.idea
/build/
/cache/
/coverage/
/htdocs/
scripts/.cache/
.vscode
.env
.tool-versions
.vercel
/test-results/
/playwright-report/
/playwright/.cache/
/e2e/.auth/
/.yarn/
/.swc/
