.c-bodybox__delete-button,
.c-relatedBox__delete-button,
.c-editor__delete-button,
.c-details__delete-button {
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
  color: red;

  &:hover,
  &:focus {
    color: color(red blackness(+ 20%));
  }
}

details {
  position: relative;
}

.c-aside.expanded .c-aside__content > div > .c-bodybox__delete-button {
  position: absolute;
}

.c-bodybox {
  position: relative;
}

.c-relatedBox {
  position: relative;
  border: 1px solid #3892a7;
  margin: -1em -7em;

  h2 {
    margin-top: 31px;
    margin-left: 63px;
  }
}

.c-editor__aside-type + .c-aside__content {
  padding-top: 60px;
}

.c-editor {
  position: relative;

  p {
    font-family: var(--font-serif);
  }

  &__link {
    color: var(--brand-color);
    cursor: text;
  }

  &__aside-type {
    background-color: var(--gray-2);
    color: white;
    position: absolute;
    width: 100%;
    padding: 0.2rem;
  }

  &__block-type-container--hidden {
    display: none;
  }

  &__block-type-button {
    height: 40px;
    width: 40px;
    border: 1px solid var(--gray-3);
    border-radius: 25px;
    margin-bottom: 0.1rem;
    color: var(--gray-3);
    background-color: white;
    display: inline-block;
    margin-right: 0.2rem;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s, visibility 0s linear 0.1s;

    &:focus,
    &:hover {
      color: var(--gray-3);
      border: 1px solid var(--gray-3);
      border-radius: 25px;
      background-color: white;
    }

    &--green {
      border-color: var(--green-1);
      color: var(--green-1);
    }
  }

  &__block-type {
    display: inline-block;
  }

  &__block-type--hidden {
    display: none;
  }

  &__error {
    border: 1px solid red;
    color: red;
    padding: 1rem;
  }

  &__figure {
    position: relative;
  }

  &__figure-input-field {
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__figure-focus-input-label {
    color: black;
    position: absolute;
    height: 25px;
    left: -4.2rem;
    width: 4rem;
    border-right: 1px solid;
    padding-right: 0.7rem;
  }

  &__figure-focus-input-text {
    float: right;
    font-size: 0.9rem;
  }
}

.c-block {
  &__bulleted-list {
    margin: 16px 0;
    padding: 0;
  }

  &__list-item {
    line-height: 1.7em;
    margin-bottom: 13px;
    direction: ltr;
    margin-left: 3.2em;
  }
}
