
.c-dropdown {
  width: 100%;
  position: relative;

  & input {
    padding: 0.3rem;
    background: white;
    position: relative;
    background-clip: border-box;
    border: 1px solid #d4d4d4;
    outline: 0;

    &:focus {
      border-color: var(--brand-color--light);
    }
  }

  &__items {
    margin-top: -0.1rem;
    border: 1px solid #d4d4d4;
    max-height: 10rem;
    overflow-y: scroll;
    position: absolute;
    z-index: 999;
    background-color: white;
    width: 100%;
    margin-bottom: 0;
    border-top: 0;
  }

  &__item {
    padding: 0.2rem;
    border: 1px solid white;
  }

  &__item--active {
    border: 1px solid var(--brand-color--light);
  }

  &__action {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
    color: var(--brand-grey);

    &:hover,
    &:focus {
      color: var(--brand-grey);
    }
  }
}
