.c-dropdown {
  width: 100%;
  position: relative;

  &__multiselect {
    display: flex;
    flex-wrap: wrap;
    outline: none;
    align-items: center;
    flex: 1 1 auto;
    padding: 4px;
    border: 1px #c5c4c4 solid;
    border-radius: 4px;
  }

  &__items {
    margin-top: -0.2rem;
    border: 1px solid #d4d4d4;
    max-height: 10rem;
    overflow-y: scroll;
    position: absolute;
    z-index: 999;
    background-color: white;
    width: 100%;
    margin-bottom: 0;
    border-top: 0;
  }

  &__item {
    cursor: pointer;
  }

  &__item,
  &__empty {
    padding: 0.2rem;
  }

  &__item--active {
    background-color: var(--brand-grey--light);
  }

  &__action {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: var(--brand-grey);

    &:hover,
    &:focus {
      color: var(--brand-grey);
    }
  }

  &__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.9rem;
    width: auto;
    border-radius: 0.1rem;
    background-color: var(--brand-grey-dark);
    color: white;
    line-height: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 0.1rem;

    &--highlighted {
      background-color: black;
    }

    & .c-button {
      margin-left: 0.1rem;
      margin-bottom: 0.1rem;

      &:hover,
      &:focus {
        color: white;
        background-color: black;
      }
    }
  }
}

.c-tag {
  &__description {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  &__item {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    background: black;
  }

  &__radio {
    position: relative;
    display: flex;
    flex-flow: wrap;
    outline: none;

    &--description {
      margin-bottom: 10px;
      cursor: initial;
    }

    &--label {
      min-height: 34px;
      padding-left: 25px;
      margin-bottom: 0;
      font-weight: 600;
      cursor: pointer;
    }

    & input[type='radio'] {
      line-height: normal;
      margin: 4px 0 0;
      position: absolute;
      margin-left: -25px;
    }

    & label[id='tag-input-label'] {
      font-size: 1rem;
    }
  }
}
