.c-field {
  &__visual-element-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__visual-element {
    display: inline-block;
    margin-right: 1rem;

    &--left {
      max-width: 70%;
    }

    &--right span:not(&-information) {
      display: block;
      font-size: 0.8rem;
    }
  }

  &__learning-resource-meta-image {
    font-size: 1.5rem;
    font-weight: normal;
  }

  &__visual-element-information {
    display: block;
    font-size: 1rem;
  }

  &__visual-element-information + span {
    margin-bottom: 1rem;
  }

  &__visual-element-type-button {
    height: 40px;
    width: 40px;
    border: 1px solid var(--gray-3);
    border-radius: 25px;
    margin-right: 0.3rem;
    color: var(--gray-3);

    &:focus,
    &:hover {
      padding: 0.3rem 0.5rem;
      color: var(--gray-3);
      border: 1px solid var(--gray-3);
      border-radius: 25px;
    }
  }

  &__visual-element-type {
    display: inline-block;
  }

  &__visual-element-type--hidden {
    display: none;
  }

  &__add-visual-element-title {
    margin-bottom: 0.2rem;
  }

  &__add-visual-element-title span {
    display: inline-block;
    color: var(--brand-color--light);
  }

  &__add-visual-element-title--border {
    width: 70%;
    border-bottom: 2px solid var(--brand-color--light);
  }

  &__date-picker + svg {
    margin-left: -1.5rem;
    margin-top: -2px;
    height: 25px;
    width: 25px;
  }

  &__two-column {
    display: flex;
    flex-flow: row;
    margin-top: var(--spacing--small);

    & > .c-field {
      display: inline-block;
      margin-top: 0;
    }

    & > *:nth-child(1) {
      width: 50%;
    }

    & > *:nth-child(2) {
      margin-left: 0.5rem;
      width: 50%;
    }
  }

  &__three-column {
    display: flex;
    flex-flow: row;
    margin-top: var(--spacing--small);

    & > * {
      display: inline-block;
    }

    & > *:nth-child(1) {
      width: 60%;
    }

    & > *:nth-child(2) {
      margin-left: 0.5rem;
      width: 35%;
    }

    & > *:nth-child(3) {
      margin-left: 0.5rem;
      width: 5%;
    }
  }

  &__circle-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    background-color: var(--brand-grey-dark);
    display: block;
    margin-top: var(--spacing--small);

    &:hover,
    &:focus {
      color: white;
      background-color: var(--brand-grey);
    }
  }
}
