.c-image-editor {
  &__focal-point {
    cursor: crosshair;
  }

  &__focal-point-marker {
    cursor: crosshair;
    position: absolute;
    background-color: var(--brand-color--light);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--brand-color--light);
    margin-left: -5px;
    margin-top: -5px;
  }

  &__focal-point-container {
    position: relative;
  }

  &__top-menu,
  &__bottom-menu {
    color: white;
    background-color: black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__align-image-button--active {
    color: var(--brand-color);

    &:focus,
    &:hover {
      color: var(--brand-color);
    }
  }

  &__edit {
    position: relative;
    z-index: 101;
    background-color: var(--gray-2);
    border: 1px solid var(--gray-6);
  }

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 100;
  }
}

.ReactCrop {
  margin-bottom: -6px;
}
