.c-article table {
  margin-top: 0;

  & tr:first-child td {
    background-color: white;
    border-bottom: 3px solid #deebf6;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.c-table-actions {
  margin-bottom: -1px;
  margin-left: 8.66667px;

  &--hidden {
    display: none;
  }

  &--show {
    display: block;
  }

  &__button {
    margin-right: 1rem;
  }

  &__button:hover,
  &__button:focus {
    border-bottom: 2px solid var(--brand-color);
  }
}
