.c-warning-modal {
  color: white;
  height: 100%;
  padding-top: var(--spacing);

  &__buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & > button {
      background-color: white;
      margin-left: 0;
    }
  }
}
