.c-preview-draft {
  text-align: left;
  .c-lightbox__content {
    margin: 1rem 0;
    padding: 1rem 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
  }

  .c-article {
    padding-top: 0;
    margin-top: 20px;
  }

  .c-lightbox__close {
    margin-top: -20px;
    margin-right: 0;
  }
}


.c-preview-draft__article {
  width: 48%;
  display: inline-block;
  text-align: left;
  & > h2 {
    margin-left: 2rem;
  }
}
.c-preview-draft__two-articles {
  .c-lightbox__content {
    margin: 1rem 0;
    padding: 1rem 0;
    width: 100%;
    max-width: 100%;
  }

  .c-article {
    padding-top: 0;
    margin-top: 20px;
  }

  .c-lightbox__close {
    margin-top: -20px;
    margin-right: 0;
  }
}
