.c-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.9rem;
  width: auto;
  border-radius: 1px;
  background-color: var(--brand-grey-dark);
  color: white;
  line-height: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0.1rem;

  &--highlighted {
    background-color: black;
  }

  & .c-button {
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;

    &:hover,
    &:focus {
      color: white;
      background-color: black;
    }
  }

  &__label {
    font-weight: 800;
    font-size: 0.8em;
    color: black;
  }

  &__description {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  &__item {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    background: black;
  }

  &__radio {
    position: relative;
    display: flex;
    flex-flow: wrap;
    outline: none;

    &--description {
      margin-bottom: 10px;
      cursor: initial;
    }

    &--label {
      min-height: 34px;
      padding-left: 25px;
      margin-bottom: 0;
      font-weight: 600;
      cursor: pointer;
    }

    & input[type='radio'] {
      /* Radio input type needs to be re-designed/added at ndla-ui level to support consistent cross-browser compatibility */
      -webkit-appearance: radio !important;
      -moz-appearance: radio !important;
      line-height: normal;
      margin: 4px 0 0;
      position: absolute;
      margin-left: -25px;
    }

    & label[id='tag-input-label'] {
      font-size: 1rem;
    }
  }

  &--search {
    color: var(--gray-3);
    margin-right: var(--spacing--small);
    background-color: var(--gray-9);
  }
}
